<div style="width: 50%; float:left;">

  <h1>Tooltip não recebe o parâmetro EXTRA</h1>

  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="multi"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [timeline]="timeline"
    (select)="onSelect($event)">

    <ng-template #tooltipTemplate let-model="model">
      <div style="background-color: rgb(255, 51, 0);">
        <h3>Parâmetro EXTRA não chega</h3>
        <pre style="color: #FFFFFF">{{ model | json }}</pre>
      </div>
    </ng-template>

  </ngx-charts-line-chart>
</div>
<div style="width: 50%; float:left;">

  <h1>Tooltip recebe o parâmetro EXTRA</h1>

  <ngx-charts-bar-vertical-stacked
    [view]="view"
    [scheme]="colorScheme"
    [results]="multi"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)">

    <ng-template #tooltipTemplate let-model="model">
      <div style="background-color: rgb(56, 105, 10);">
        <h3>Parâmetro EXTRA chega</h3>
        <pre style="color: #FFFFFF">{{ model | json }}</pre>
      </div>
    </ng-template>

  </ngx-charts-bar-vertical-stacked>

</div>
